.weather-forecast {
  display: flex;

  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.weather-forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: rgb(255, 255, 204);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.forecast-max {
  font-weight: bolder;
}
.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
